/*@import url(./__photo/profile__photo.css);
@import url(./__name/profile__name.css);
@import url(./__info/profile__info.css);
@import url(./__bio/profile__bio.css);
@import url(./__wrapper/profile__wrapper.css);*/


.profile{
    padding-top: 40px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    .profile{
        padding-top: 42px;
        margin: 0 auto;
        max-width: 282px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
}