.element__button-delete {
    background-image: url(../../../images/Trash.svg);
    background-position: center;
    width: 18px;
    height: 19px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    justify-self: flex-end;
    cursor: pointer;
}
.element__button-delete:hover{
    opacity: .6;
    transition: opacity .2s ease;
}