/*@import url(./__name/element__name.css);
@import url(./__item/element__item.css);
@import url(./__image/element__image.css);
@import url(./__card/element__card.css);*/
.element{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px 17px;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 67px;
}

@media screen and (max-width: 650px) {
    .element{
        max-width: 282px;
    }
}

@media screen and (min-width:651px) and (max-width:1023px){
    .element{
        max-width: 581px;
    }
}
@media screen and (max-width:1023px) {
    .element{
        margin: 36px auto 48px;
    }    
}