.popup__form{
    position: relative;
    width: 358px;
    background-color: white;
    color: black;
    padding: 36px 36px 37px;
    border-radius: 10px;
}

@media  screen and (max-width: 650px)  {
    .popup__form{
        width: 238px;
        padding: 25px 22px 25px;
    }
}