.profile__editicon {
    width: 120px;
    height: 120px;
    background-image: url("../../../images/editicon.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 30px;
}